@import url(https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap);

body {
	font-family: 'Merriweather', sans-serif;
	color: rgb(48, 48, 48);
	background-color: #ffffee;
	
    transition: opacity 0.3s ease-in-out;
}